<a routerLink="/register">Register</a> <br>
<a routerLink="/login">Login</a> <br>
<a routerLink="/adminAddFood">Add Food</a> <br>
<a routerLink="/adminViewFood">adminViewFood</a> <br>
<a routerLink="/userViewFood">userViewFood</a> <br>
<a routerLink="/userAddOrder">userAddOrder</a> <br>
<a routerLink="/userViewOrders">userViewOrders</a> <br>
<a routerLink="/adminOrdersChart">adminOrdersChart</a> <br>
<a routerLink="/adminViewOrders">adminViewOrders</a> <br>
<a routerLink="/userAddFeedback">userAddFeedback</a> <br>
<a routerLink="/userViewFeedback">userViewFeedback</a> <br>
<a routerLink="/adminViewFeedback">adminViewFeedback</a> <br>

<router-outlet></router-outlet>