<!-- Spinner Overlay -->
<div *ngIf="isLoading" class="spinner-overlay">
  <div class="spinner"></div>
</div>

<div class="container mt-5">
  <div class="card shadow-lg">
    <div class="card-header text-center">
      <h2>Food List</h2>
    </div>
    <div class="search-bar">
      <input type="text" [(ngModel)]="search" class="form-control search-input" placeholder="Search for food...">
      <button (click)="searchProduct()" class="btn btn-primary search-button">Search</button>
      <button (click)="reset()" class="btn btn-secondary search-button">Clear</button>
    </div>
    
    <div *ngIf="noItemFound" class="no-items-found">
      <p>No items found</p>
    </div>
    
    <div class="card-body">
      <div class="food-grid">
        <div class="food-item" *ngFor="let food of foods">
          <img [src]="food.photo" alt="{{ food.foodName }}" class="img-fluid food-photo">
          <div class="food-details">
            <p><strong>Food Name:</strong> {{ food.foodName }}</p>
            <p><strong>Price:</strong> {{ food.price }}</p>
            <p><strong>Stock Quantity:</strong> {{ food.stockQuantity }}</p>
          </div>
          <div class="food-actions">
            <button class="btn btn-primary btn-sm" (click)="openOrderPopup(food)">Place order</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Order Popup Form -->
  <div class="popup" *ngIf="showOrderPopup">
    <div class="popup-content">
      <h3>Order Food Item</h3>
      <form>
        <div class="form-group">
          <label for="photo"></label>
          <img [src]="selectedFood.photo" alt="{{ selectedFood.foodName }}" class="img-fluid food-photo">
        </div>
        <div class="form-group">
          <h5>{{selectedFood.foodName}}</h5>  
        </div>
        <div class="form-group">
          <h6>Price: {{selectedFood.price | currency:'INR'}}</h6>  
        </div>
        <div class="form-group">
          <label for="quantity">Quantity:</label>
          <input id="quantity" type="number" class="form-control" [(ngModel)]="orderQuantity" name="quantity" min="1" (ngModelChange)="updateTotalAmount()">
        </div>
        <div class="form-group">
          <h6>Order Date: {{orderDate}}</h6>
        </div>
        <button type="button" class="btn btn-success" (click)="confirmOrder()">Confirm Order</button>
        <button type="button" class="btn btn-secondary" (click)="closeOrderPopup()">Cancel</button>
      </form>
    </div>
  </div>
</div>
