<div class="container mt-5">
    <div class="card shadow-lg p-4">
      <h2 class="text-center mb-4" *ngIf="!editId">Add Food Item</h2>
      <h2 class="text-center mb-4" *ngIf="editId">Edit Food Item</h2>
  
      <form (ngSubmit)="editId ? updateFood() : addFood()">
        <div class="form-group mb-3">
          <label for="foodName" class="form-label">Select Food Name:</label>
          <select
            id="foodName"
            class="form-control"
            [(ngModel)]="food.foodName"
            name="foodName"
            required>
            <option *ngFor="let name of foodNames" [value]="name">{{ name }}</option>
          </select>
        </div>
  
        <div class="form-group mb-3">
          <label for="price" class="form-label">Price:</label>
          <input
            type="number"
            id="price"
            class="form-control"
            [(ngModel)]="food.price"
            name="price"
            placeholder="Enter food price"
            required />
        </div>
  
        <div class="form-group mb-3">
          <label for="stockQuantity" class="form-label">Stock Quantity:</label>
          <input
            type="number"
            id="stockQuantity"
            class="form-control"
            [(ngModel)]="food.stockQuantity"
            name="stockQuantity"
            placeholder="Enter stock quantity"
            required />
        </div>
  
        <div class="form-group mb-3">
          <label for="photo" class="form-label">
            Photo:
          </label>
          <input 
            type="file" 
            id="photoFile" 
            name="photoFile" 
            accept=".jpg,.png" 
            (change)="onFileChange($event, 'photoFile')" 
            #file="ngModel" [(ngModel)]="food.photo" 
            required>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary me-2">
            {{ editId ? 'Update Food' : 'Add Food' }}
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="router.navigate(['/adminViewFood'])">
            Cancel
        </button> 
        </div>
      </form>
    </div>
  </div>