.reg-wrap {
    background: linear-gradient(to right, #fdfbfb, #ebedee);
  }
  
  .reg-box {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  }
  
  .img-col img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  